.player .watermark {
  background-image: url('assets/belmont/watermark.png');
}

.player .progressBar {
  background-color: #00704A;
}

body {
  background-image: url("assets/belmont/background.jpg");
}